h1 {
    color: red;
}

ol li {
    color: aquamarine;
}

#second-topic {
    color: green;
}

.first-topic {
    color: blueviolet;
}


[title] {
    color:red;
}

[title="site-news-1"] {
    color: aqua;
}

a[href*='estadao'] {
    color: yellow;
}

div section p {
    color: red;
}

div section p#want {
    background-color: blue;
}

div.teste > p {
    color:brown;
}

div.teste > span > p {
    background-color: yellow;
}

li.churros + li {
    color: blueviolet;
}

span.teste-span ~ span {
    background-color: tomato;
}

div.teste > ul.random-list > li.bicarbonato + li {
    background-color: violet;
}