.row {
    margin: 5px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

fieldset {
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: blue;
}